@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    ViewBag.Title = "Attendees";
}

@if (Model.Count() == 1)
{
    <p>You are the first to accept!</p>
}
else
{
    <p>Here is a list of cool people coming: @string.Join(", ", Model.Select(x => x.Name))</p>
}

